@model IEnumerable<RequestFormApp.Models.FormApp>

@{
    ViewBag.Title = "Index";
}


<h2>Feature Request Form Database</h2>
@{/* Redirects user to Request Form */}
<p>
    @Html.ActionLink("New Form Entry    ", "Create")
</p>
    <div>
        <div class="col-xs-3"><b>
    @Html.DisplayNameFor(model => model.Description)
        </b></div>
        <div class="col-xs-2"><b>
    @Html.DisplayNameFor(model => model.Client)
        </b></div>
        <div class="col-xs-2"><b>
    @Html.DisplayNameFor(model => model.ClientPriority)
        </b></div>
        <div class="col-xs-2"><b>
    @Html.DisplayNameFor(model => model.TargetDate)
        </b></div>
        <div class="col-xs-2"><b>
    @Html.DisplayNameFor(model => model.ProductArea)
        </b></div>
    </div>

@foreach (var item in Model) {
    <div>
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.Description)
        </div>
        <div  class="col-xs-2">
            @Html.DisplayFor(modelItem => item.Client)
        </div>
        <div  class="col-xs-2">
            @Html.DisplayFor(modelItem => item.ClientPriority)
        </div>
        <div class="col-xs-2">
            @Html.DisplayFor(modelItem => item.TargetDate)
        </div>
        <div  class="col-xs-1">
            @Html.DisplayFor(modelItem => item.ProductArea)
        </div>
        <div class="col-xs-11">
            @Html.ActionLink("Edit", "Edit", new { id=item.Title_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Title_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Title_id })
        </div>
    </div>
}

</div>
