<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = RequestFormApp\Contents\bootstrap.css>
    <link rel="stylesheet" type="text/css" href = C:\Users\MPrimus\Source\Repos\Code-Louisville-Project2-C-.NET\RequestFormApp\Content\bootstrap.min.css>
    <link rel="stylesheet" type="text/css" href = C:\Users\MPrimus\Source\Repos\Code-Louisville-Project2-C-.NET\RequestFormApp\Content\Site.css>

     <title>@ViewBag.Title - Request Form App</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                               </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Request Form Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
